<div class="input-group mb-3">
    <input type="text"
        class="form-control form-control-lg"
        placeholder="Type paint name to search">
    <button type="button" class="input-group-text btn-primary">View</button>
</div>
@code {

}
