@inject IPaintService PaintService
@using IMC.Domain

<div class="input-group mb-3">
    <input type="text"
        class="form-control form-control-lg"
        placeholder="Type paint name to search"
        @bind-value="paintNameToSearch"
         @bind-value:event="oninput" @onkeyup="@(async () => {await ViewPaints(); })"/>

</div>


@code {
    private string? paintNameToSearch;

    [Parameter]
    public EventCallback<string> OnSearchPaints { get; set; }

    private async Task ViewPaints()
    {
        await OnSearchPaints.InvokeAsync(paintNameToSearch);
    }

}
