@page "/"
@page "/paint"
@inject IPaintService paintService
@inject NavigationManager NavigationManager

<PageTitle>Paint Inventory</PageTitle>

<h4>My paint inventory</h4>

<table class="table">
    <thead> 
        <tr>
            <th>Title</th>
            <th>Color</th>
            <th>Type</th>
            <th>Row</th>
            <th>Colum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paint in paintService.Paints)
       {
           <tr>
              <td>@paint.Title</td>
              <td style="background-color:@paint.Color;"></td>
              <td>@paint.Type</td>
              <td>@paint.Row</td>
              <td>@paint.Column</td>
               <td>
                    <button class="btn btn-primary" @onclick="(() => ShowPaint(paint.Id))"><i class="oi oi-pencil"></i></button>
                </td>
           </tr>
       }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await paintService.GetPaintsAsync();
    }

    void ShowPaint(Guid Id)
    {
        NavigationManager.NavigateTo($"paint/{Id}");
    }
}
